$text-color: #000000;

body, html
{
  overflow-y: hidden !important;
  min-height: 500px;
}
.full-height
{
  height: 100vh;
}
.flex-center
{
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref
{
  position: relative;
}
.container-index
{
  background-image: url(../assets/images/background-index.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.content
{
  // position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 40px #bdbdbd;
}
.main-title
{
  font-size: 42px;
  color: #ffffff;
  background-color: #000000;
  font-weight: 300;
  letter-spacing: .4rem;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 140px;
  padding-right: 140px;
}
.my-name
{
  font-size: 32px;
  color: $text-color;
  padding-top: 32px;
  padding-bottom: 32px;
}
.links-section
{
  padding-bottom: 20px;
}
.link
{
  color: $text-color;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

  &.about:hover
  {
    color: #2962FF;
  }

  &.projects:hover
  {
    color: #304FFE;
  }

  &.github:hover
  {
    color: #6200EA;
  }

  &.linkedin:hover
  {
    color: #0050ad;
  }

  &.other-resources:hover
  {
    color: #fa548e;
  }
}

.copyright
{
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  top: calc(100vh - 40px);
  color: #000000;
  background-color: rgba(#ffffff, 0.4);
  z-index: 10;
  text-align: center;
  letter-spacing: .2rem;
  font-size: 12px;
  font-weight: 700;
}
@media only screen and (max-width: 959px)
{
  .main-title
  {
    font-size: 42px;
  }
}
