.footer-container
{
  // background-color: #fafafa;
}
.footer-section
{
  border-top: 1px solid #e3e3e3;
}
.link
{
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  height: 100px;
  line-height: 100px;
}
.text
{
  text-align: right;
}
