@media only screen and (max-width: 600px)
{
  .link
  {
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  .text
  {
    text-align: center;
  }
  .flex-section
  {
    text-align: center;
    padding-top: 10px;
  }
}
