@media only screen and (max-width: 1264px)
{
  .information-container
  {
    margin-top: 100px;
  }
  .image-section
  {
    padding-bottom: 0px;
  }
  .description-name-section
  {
    text-align: center;
  }
}
