@media only screen and (max-width: 600px) {
  .template-layout {
    padding-bottom: 80px;
  }
  .information-container {
    margin-top: 40px;
  }
  .image-section
  {
    padding-bottom: 0px;
  }
  .description-name-section {
    height: 140px;
    line-height: 140px;
    padding-left: 0px;
  }
  .description-name
  {
    font-size: 40px;
    text-align: center;
  }
}
