@media only screen and (max-width: 600px) {
  .template-layout {
    padding-bottom: 80px;
  }
  .information-container {
    margin-top: 40px;
  }
  .description-name
  {
    font-size: 40px;
    text-align: center;
  }
}
